<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Total no. of users present in the database: <%=ans%></h1>
    <a href="/signup">Click here to signup</a>
</body>
</html>